/* ---- Chef  cook ---- */
  
.container-cook{
    display: grid;
    /*grid-template-columns: 50% 50%;*/
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    align-items: center;
    width: auto;
    background-color: greenyellow;

    .left{
      border: 5px solid green;
    
    }
    .right img{
      overflow: auto;
      border:10px solid red  ;
    }
}